body, a, p, h1, h2, h3, h4{
background: transparent;
border: 0;
margin: 0;
outline: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');

.movie-list{
    padding: 100px 0;
}
.movie-list__header{
    font-size: 46px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 80px;
    text-align: center;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
    color: #fff;
}
a:visited {
    color: inherit;
}
.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}
.movie-list__table th{
    font-size: 26px;
    font-weight: 700;
    background: #a3cc40;
    padding: 22px 0;
}  
.movie-list__table td{
    font-size: 22px;
    font-weight: 400;
    padding: 25px 0 11px 0;
    vertical-align: top;
}  
.container tr:nth-child(2n+1){
    background: #373737;
}
.container tr:nth-child(2n){
    background: #4b4d4f;
}
.container tr:nth-child(3n){
    background: #6c6c6c;
}
.triangle-up{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 15px 9px;
    border-color: transparent transparent #ffffff transparent;
    display: inline-block;
}
.triangle-down{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    display: inline-block;
}
.col-1 {
    width: 230px;
}
.col-4 {
    width: 84px;
}
.centr {
    text-align: center;
}
